.circle
{
    width:100px;
    height:100px;
    float:right;
    margin-right:20px;
    border-radius:50%;
}

#red{
    background-color:red;
}

#blue{
    background-color:blue;
}

#green{
    background-color:green;
}